<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
<table>
  <tr>
    <th>User name</th>
    <th>LastName</th>
    <th>Age</th>
  </tr>
  <tr th:each ="user : ${users}">
    <td th:utext="${user.getName()}"></td>
    <td th:utext="${user.getLastName()}"></td>
    <td th:utext="${user.getAge()}"></td>
    <td><a th:href="@{/{id}(id=${user.getId()})}">Show User</a></td>

  </tr>
</table>
<br/>
<hr/>


<form th:method="GET" th:action="@{/newUser}">
  <input type="submit" value="Add new user"/>
</form>
</body>
</html>